<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Centillionaire</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="https://anti-ghost.github.io/images/ghost.jpg" />
    <script 
      src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.js"
      defer
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      defer
    ></script>
    <script src="notify.js" defer></script>
    <script src="script.js" defer></script>
  </head>
  <body>
    <div id="app">
      <h1>{{formatMoney(game.money)}}</h1>
      <p v-if="game.managers > 0">(+{{formatMoney(getMoneyRate())}}/s)</p>
      <p>
        <button @click="tab = 0" class="tabButton">
          Investments
        </button>
        <button @click="tab = 1" class="tabButton">
          Options
        </button>
        <button @click="tab = 2" class="tabButton">
          Statistics
        </button>
      </p>
      <div v-if="tab == 0">
        <table class="wide">
          <tbody>
            <tr>
              <td style="width: 50%; text-align: right;">
                <button @click="unlockInvestment()" style="width: 200px;">
                  Unlock a new investment<br />
                  <span v-if="game.investments.length == 6">Maxed</span>
                  <span v-else>Cost: {{formatMoney(100 ** game.investments.length)}}</span>
                </button>
              </td>
              <td style="width: 50%; text-align: left;">
                <button @click="buyManager()" style="width: 200px;">
                  Buy a manager<br />
                  <span v-if="game.managers == 6">Maxed</span>
                  <span v-else>Cost: {{formatMoney(10 ** (2 * game.managers + 2))}}</span>
                </button>
              </td>
            </tr>
            <tr v-for="x in game.investments.length">
              <td style="text-align: left;">
                Investment {{x}}: {{formatMoney(getProfit(x - 1))}}
                <button @click="game.investing[x - 1] ? collect(x - 1) : invest(x - 1)" style="width: 150px; margin: 0 4px;">
                  {{
                    x &lt;= game.managers ?
                      getFrequency(x - 1) > 10 ? 
                        formatMoney(getProfit(x - 1) * getFrequency(x - 1)) + "/s": 
                        formatTime((1 - game.moneyLoop[x - 1]) / getFrequency(x - 1), 3) :
                      game.investing[x - 1] ? 
                        game.moneyLoop[x - 1] &lt; 1 ?
                          formatTime((1 - game.moneyLoop[x - 1]) / getFrequency(x - 1), 3) :
                          "Collect" :
                        "Invest"
                  }}
                </button>
              </td>
              <td style="text-align: right;">
                Level {{format(game.investments[x - 1])}}/{{format(10 * Math.ceil((game.investments[x - 1] + 1) / 10))}}
                <button @click="upgrade(x - 1)" style="width: 150px; margin: 0 4px;">
                  Cost: {{formatMoney(getUpgradeCost(x - 1))}}
                </button>
                <button @click="upgrade10(x - 1)" style="width: 200px; margin: 0 4px;">
                  Until 10, Cost: {{formatMoney(getUpgrade10Cost(x - 1))}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-if="tab == 1">
        <table>
          <tbody>
            <tr>
              <td><button @click="importSave()" style="width: 200px;">Import your game save</button></td>
              <td><button @click="exportSave()" style="width: 200px;">Export your game save</button></td>
              <td><button @click="hardReset()" style="width: 200px;">Delete game data</button></td>
            </tr>
          </tbody>
        </table>
        <p>Current Version: v1.0</p>
      </div>
      <div v-if="tab == 2">
        <p>Time Played: {{formatTime(game.timePlayed)}}</p>
        <p>Cash on Hand: {{formatMoney(game.money)}}</p>
        <p>Lifetime Earnings: {{formatMoney(game.totalMoney)}}</p>
      </div>
    </div>
  </body>
</html>
